meta(charset="utf-8")
title #{title}
meta(name="viewport" content="width=device-width,initial-scale=1")
meta(name="description" content=description)
meta(name="author" content=name)
meta(name="keywords" content=keywords)
link(rel="canonical" content=url)
meta(property="og:title" content=title)
meta(property="og:site_name" content=name)
meta(property="og:description" content=description)
meta(property="og:url" content=url)
meta(property="og:locale" content="ko_KR")
meta(property="og:type" content="website")
meta(property="og:image" content=image)
meta(property="fb:app_id" content="1619661748331088")
meta(name="p:domain_verify" content="3e05cc5b868de908660cf4004dbdc8fe")
link(rel="shortcut icon" href="/favicon.ico")
link(rel="icon" type="image/x-icon" href="/images/redgoose_256x256.png")
link(rel="manifest" href="/manifest.json")
link(rel="stylesheet" href="/assets/style.css")
