header
  h1
    a(href=navigation.home.href) #{bodyTitle || title}
  if navigation.global
    nav
      h1 Navigation
      if navigation.global && navigation.global.length > 0
        ul
          each o in navigation.global
            - const target = /^http/.test(o.href) ? '_blank' : false
            li
              a(href=o.href target=target) #{o.label}
              if o.children && o.children.length > 0
                ul
                  each oo in o.children
                    - const target = /^http/.test(o.href) ? '_blank' : false
                    li
                      a(href=oo.href target=target) #{oo.label}
